.*
__*
fortran/Debug
fortran/fortran*
fortran/MCMC_for_CMB_fortranCODE*
fortran/Autocorr.dat
fortran/chainconsum.dat
fortran/GRvalues.dat
fortran/GRvalues2.dat
fortran/MC.dat
fortran/MCchain.dat
fortran/MC_final.dat
fortran/resMC.dat
