.*
__*
python/data_latex.txt
python/plot.png
python/Result_1.txt
python/Result_2.txt
fortran/OUT/*
fortran/SZdatas/*.txt
fortran/priors/*.dat
Result/*
fortran/Debug/*
fortran/fortran*
fortran/Autocorr.dat
fortran/chainconsum.dat
fortran/GRvalues.dat
fortran/GRvalues2.dat
fortran/MC.dat
fortran/MCchain.dat
fortran/MC_final.dat
fortran/resMC.dat
MCMC_IN_CODEBLOCKs/OUT/*
MCMC_IN_CODEBLOCKs/SZdatas/*.txt
MCMC_IN_CODEBLOCKs/priors/*.dat
MCMC_IN_CODEBLOCKs/Autocorr.dat
MCMC_IN_CODEBLOCKs/chainconsum.dat
MCMC_IN_CODEBLOCKs/GRvalues.dat
MCMC_IN_CODEBLOCKs/GRvalues2.dat
MCMC_IN_CODEBLOCKs/MC.dat
MCMC_IN_CODEBLOCKs/MCchain.dat
MCMC_IN_CODEBLOCKs/MC_final.dat
MCMC_IN_CODEBLOCKs/resMC.dat
MCMC_IN_CODEBLOCKs/**/
MCMC_IN_CODEBLOCKs/MCMC_IN_CODEBLOCKs.layout
MCMC_IN_CODEBLOCKs/MCMC_IN_CODEBLOCKs.depend
MCMC_IN_CODEBLOCKs/MCMC_IN_CODEBLOCKs.cbp
onlyf90files.zip
onlyf90files/*
