.*
__*
python/data_latex.txt
python/plot.png
python/Result_1.txt
python/Result_2.txt
Result/*

fortran1/OUT/*
fortran1/SZdatas/*.txt
fortran1/priors/*.dat
fortran1/Autocorr.dat
fortran1/chainconsum.dat
fortran1/GRvalues.dat
fortran1/GRvalues2.dat
fortran1/MC.dat
fortran1/MCchain.dat
fortran1/MC_final.dat
fortran1/resMC.dat
fortran1/**/
fortran1/MCMC_IN_CODEBLOCKs.layout
fortran1/MCMC_IN_CODEBLOCKs.depend
fortran1/MCMC_IN_CODEBLOCKs.cbp
fortran1/startSZ.sss
fortran1/startSZA_Tz.sss
fortran1/startSZ_Tz.sss
fortran1/prior.dat
fortran1/SZ_data.txt
fortran1/echo.dat
fortran1/err.dat
fortran1/errRUN.dat
fortran1/Main.out
fortran1/a.out
fortran1/*.mod
fortran1/Main
fortran1/DebugFile

MCMC_IN_CODEBLOCKs/OUT/*
MCMC_IN_CODEBLOCKs/SZdatas/*.txt
MCMC_IN_CODEBLOCKs/priors/*.dat
MCMC_IN_CODEBLOCKs/Autocorr.dat
MCMC_IN_CODEBLOCKs/chainconsum.dat
MCMC_IN_CODEBLOCKs/GRvalues.dat
MCMC_IN_CODEBLOCKs/GRvalues2.dat
MCMC_IN_CODEBLOCKs/MC.dat
MCMC_IN_CODEBLOCKs/MCchain.dat
MCMC_IN_CODEBLOCKs/MC_final.dat
MCMC_IN_CODEBLOCKs/resMC.dat
MCMC_IN_CODEBLOCKs/**/
MCMC_IN_CODEBLOCKs/MCMC_IN_CODEBLOCKs.layout
MCMC_IN_CODEBLOCKs/MCMC_IN_CODEBLOCKs.depend
MCMC_IN_CODEBLOCKs/MCMC_IN_CODEBLOCKs.cbp
MCMC_IN_CODEBLOCKs/startSZ.sss
MCMC_IN_CODEBLOCKs/prior.dat
MCMC_IN_CODEBLOCKs/SZ_data.txt
MCMC_IN_CODEBLOCKs/echo.dat
MCMC_IN_CODEBLOCKs/err.dat
MCMC_IN_CODEBLOCKs/errRUN.dat
MCMC_IN_CODEBLOCKs/Main.out
MCMC_IN_CODEBLOCKs/a.out
MCMC_IN_CODEBLOCKs/*.mod
MCMC_IN_CODEBLOCKs/Main
MCMC_IN_CODEBLOCKs/DebugFile
onlyf90files.zip
onlyf90files/*
MCMCcodeForLinux/OUT/*
MCMCcodeForLinux/SZdatas/*.txt
MCMCcodeForLinux/priors/*.dat
MCMCcodeForLinux/Autocorr.dat
MCMCcodeForLinux/chainconsum.dat
MCMCcodeForLinux/GRvalues.dat
MCMCcodeForLinux/GRvalues2.dat
MCMCcodeForLinux/MC.dat
MCMCcodeForLinux/MCchain.dat
MCMCcodeForLinux/MC_final.dat
MCMCcodeForLinux/resMC.dat
MCMCcodeForLinux/**/
MCMCcodeForLinux/startSZ.sss
MCMCcodeForLinux/prior.dat
MCMCcodeForLinux/SZ_data.txt
MCMCcodeForLinux/*.mod
MCMCcodeForLinux/a.out
