start
syn_SZ                   
4
500                            !NUM_ITER
200                            !NUM_WALK
1                              !add prior
1 2.7       0.0       200.0     1.0       A
1 3.7       0.0       20.0      2.0       Tz
1 6.0       0.0       20.0      3.0       Te
1 0.0       -0.003    0.003     0.003     beta       
