start
syn_SZ                   
5
800                            !NUM_ITER
500                            !NUM_WALK
1                              !add prior
1 2.73      0.0       20.0      1.0       T0
1 5.00      0.0       30.0      1.0       Tz
1 6.0       0.0       20.0      3.0       Te
1 0.0       -0.003    0.003     0.003     beta
1 1.0       0.0       10.0      0.7       tau
