start
syn_Line                   
2
400                            !NUM_ITER
300                            !NUM_WALK
0                              !add prior
1 2.3       0.0       10.0      0.5        A    !A
1 0.0       -10.0     10.0      0.5        B    !B
