start
syn_SZ                   
4
800                            !NUM_ITER
500                            !NUM_WALK
1                              !add prior
1 2.73      0.0       20.       1.0        ! T0 in K
1 6.0       0.0       20.0      3.0        ! Te in Kev
1 0.0       -0.003    0.003     0.003      ! beta
1 1.0       0.0       10.0      0.7        ! tau
