start
syn_SZ                   
4
1000                           !NUM_ITER
500                           !NUM_WALK
1                              !add prior
1 2.72      0.0       20.       0.5        ! T0 in K
1 6.90      0.0       20.0      0.4        ! Te in Kev
1 0.0       -0.003    0.003     0.003      ! beta in log(vz.c)
1 1.0       0.0       10.0      0.5        ! tau
